{% load static %}

html,body{
    font-family: 'VT323', monospace;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    font-size: 28px;

}

/* Gallery */
.column {
  margin-top: 5%;
  margin-left: 5%;
  float: left;
  width: 1024px;
  box-sizing: border-box;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Navigation */

#nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  padding: 15px;
}
#nav a{
    padding: 5px;
}
#nav a:hover{
    background-color: gray;
    cursor: pointer;
    padding: 5px;
}


/* Game */
}
#typing-box a:hover{
    background-color: gray;
    cursor: pointer;
}

#typing-box{
    margin-top: 80px;
    margin-left: 25px;
}



.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}



.image .btn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: solid 1px #ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.logo{
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Login and SignUp */
#login{
color: #ffffff;
border: solid 1px #ffffff;
width: 50%;
padding: 15px;
margin: 10% auto;
background-color: #000000;
  padding-bottom: 30px;

}

#login h2{
    text-align: center;
}

#login button{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: solid 1px #ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;

}

#register{
    margin-top: 75px;
}

#login a:hover{
    color:#A9A9A9;
}

.click{
    display: inline;
}

.click:hover{
    background-color: gray;
    cursor: pointer;
}