{% load static %}

<!doctype html>
<html lang="pl">
  <head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">


  </head>
  <body onload="start('{{user.username}}', '{{user.email}}', '{{user.profile.programming}}', '{{user.profile.language}}', '{{user.profile.os}}', '{{user.profile.renown}}')">

  {% block body %} {% endblock %}


  </body>
  <script src="{% static 'js/script.js' %}"></script>
</html>