{% extends 'main.html' %}
{% block title %} Windykacja długów | Biuro Obsługi Wierzytelności INFOS Sp. z o.o. {% endblock %}
{% block body %}
{% load static %}

{% block content %}

<a href="/"><img class="logo" src="{% static 'img/logo.png' %}"/></a>


<div id="login">
    <h2>Zarejestruj się</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
     {{form.programming.as_hidden}}
    <button type="submit">Zarejestruj się</button>
  </form>
</div>

{% endblock %}


{% endblock %}